/* #BF9E87 vaalean ruskea /
/ #fffff0 ivory /
/ #352208 tumman ruskea/
/ #136F63 Pine Green /
/ #3F88C5 Green Blue Crayola /
/ #1F0000 tumman ruskea/
/ #E15B1C oranssi /
/ #179768 vihriä /
/ #69DC9E medium vihreä /
/ #ED9908 sinappi /
/* #1F1300 tumma suklaa */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

/* Fix for full length container */
.container-fluid{
  padding: 0;
  box-sizing: border-box;
}

/* Header design */
.nav-txt {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}

.nav-txt-dropdown {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

.na-txt-dropdown:hover {
  color: #352208 ;
}

.site-logo {
  max-width: 250px;
}

/*Navigation color*/
.navbar {
  background-color: #fffff0;
}

.bold {
  font-weight: bold;
}

/* Animations for dropdowns and links*/
dropdown-toggle::after {
  transition: transform 0.15s linear; 
}

.show.dropdown 
.dropdown-toggle::after {
  transform: translateY(3px);
}

/*Navbar text colors*/
#about_us{
  color: black;
}

#about_us:hover{
  color: #ED9908;
}

.nav-text{
  color: black;
}

#nav_txt{
  color: black;
}

#nav_txt:hover{
  color:#ED9908;
}

.navbar 
.nav-og:hover 
.nav-link {
  color:#ED9908;  transition: 0.25s;
}

.navbar 
.nav-gr:hover 
.nav-link { 
  color: #ED9908;  transition: 0.25s;
}

.fas{
  color: black;
}

.fas:hover{
  color: #ED9908;
}

/*Button*/
.btn{
  color: black;
}

.dropdown-item:hover {
  background-color: #BF9E87;  
  transition: 0.5s;
}

/*Parallax h3 design*/
#design{
  background-color: #fffff0;
  font-family: 'Oswald', sans-serif;
}

/*Footer*/
footer {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 101%;
  box-sizing:border-box;
  background-color: #BF9E87;
}

footer p {
  color: black;
}

/* Temporary */
.fa-user-ninja {
   color: #BF9E87;
}

/* Google Map*/
#googlemap {
  margin: 0 auto;
  margin-bottom: 5px;
  display: block;
  border: 5px;
  border-style: inset;
  border-color:#BF9E87;
  border-radius: 15px;
  height:250px;
  width:500px;
}