/* #BF9E87 vaalean ruskea /
/ #fffff0 ivory /
/ #352208 tumman ruskea/
/ #136F63 Pine Green /
/ #3F88C5 Green Blue Crayola /
/ #1F0000 tumman ruskea/
/ #E15B1C oranssi /
/ #179768 vihriä /
/ #69DC9E medium vihreä /
/ #ED9908 sinappi /
/* #1F1300 tumma suklaa */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

/* Fix for full length container */
.container-fluid{
  padding: 0;
  box-sizing: border-box;
}


/* Fix for full-length footer */
.row {
  margin: 0;
}

/* Header design */
.nav-txt {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}

.nav-txt-dropdown {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

.na-txt-dropdown:hover {
  color: #352208 ;
}

.site-logo {
  max-width: 230px;
}

/*Navigation color*/
.navbar {
  background-color: white;
}

hr{
 border-width: 1px;
 border-color: black;
 margin: 0;
}

.bold {
  font-weight: bold;
}

/* Animations for dropdowns and links*/
dropdown-toggle::after {
  transition: transform 0.15s linear; 
}

.show.dropdown 
.dropdown-toggle::after {
  transform: translateY(3px);
}

.navbar 
.nav-og:hover 
.nav-link {
  color:#ED9908;  transition: 0.25s;
}

.navbar 
.nav-gr:hover 
.nav-link { 
  color: #ED9908;  transition: 0.25s;
}


.user:hover{
  color: #ED9908; transition: 0.25s;
}

.dropdown-item:hover {
  background-color: #BF9E87;  
  transition: 0.5s;
}

/*Parallax h3 design*/
#design{
  background-color: white;
  font-family: 'Oswald', sans-serif;
}

.footer_margin {
  margin-bottom: 8em;
}

/* Margin for shopping cart */
/* .cart {
  margin-left: 5em;
  margin-right: 5em;
} */

/*Products*/
h4, h3{
  font-family: 'Oswald', sans-serif;
}

a{
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: x-large;
  /* text-align: left; */
  display: block;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0;
}
a:hover{
  color: #ED9908; transition: 0.25s;
  text-decoration: none;
}

p{
  font-size: x-large;
  font-family: 'Open Sans Condensed', sans-serif;
}

.description{
  font-size: large;
  font-family: 'Open Sans Condensed', sans-serif;
}

.product_color{
  background-color: white;
}

 .id1{
  text-align: left;
  margin-left: 15px;
  padding: 10px;
}

.cards{
  background-color: white;
  border-color: #BF9E87;
  border-width: 3px;
}

#product .card{
  border: none;
  padding: 10px;
}

.nappula{
  background-color: #BF9E87;
  font-family: 'Oswald', sans-serif;
}

.nappula:hover{
  
  color: white;
  background-color: #ED9908; transition: 0.25s;
  border-color: #ED9908; transition: 0.25s;
}

/*Contact us*/

.us_img{
  align-items: center;
  padding: 2px;
  border-radius: 4%;
  position: relative;
  display: inline-block;
}

 .card-body{
  padding: 2px;
} 

/*Footer*/
footer {
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  box-sizing:border-box;
  background-color: #BF9E87;
  margin: 0;
}

footer h4{
  color: black;
  font-size: xx-large;
}

footer p {
  color: black;
  padding: 1px;
  margin: 0;
}

footer a{
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: x-large;
  text-align: center;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

footer i{
  padding-left: 5px;
  padding-right: 5px;
}

/* Temporary */
.fa-user-ninja {
   color: #BF9E87;
}

/* Google Map*/
#googlemap {
  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
  
  height:250px;
  width:540px;
}

.static {
  position:absolute;
  background: #ffffff;
}

.static:hover {
  opacity:0;
}

/*Button color for login & register*/
.btn-coffee {
  font-family: 'Oswald', sans-serif;
  border: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #BF9E87;
  background-color: #BF9E87;
}

.btn-coffee:hover {
  color: white;
  background-color: #ED9908; transition: 0.25s;
  border-color: #ED9908; transition: 0.25s;
}

.order_inp {
  margin-bottom: 2em;
}

/* Scroll up-button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #136F63;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.recommended {
  max-width: 400px;
  padding: 40px;
  text-align: center;
}

.recommended p {
  background-color: #BF9E87;
  width: 80px;
  color: black;
  font-weight: bold;
  border-radius: 3px; 
  transition: 0.25s
}

/* Recommended button */

a:hover p{
  background-color: #ED9908;
  color: white;
}

/* yhden productin marginit :D */

.producti {
  margin-top: 50px;
  margin-bottom: 60px;
}


.card-input-element {
  display: none;
 
}

.card-input {
  margin: 10px;
  padding: 0px;
  ;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 2px 2px #179768;
  transition: 0.3s;
}

.faq-site{
  padding-bottom: 1em;
}

/* Our Story */

.story hr{
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 2px  solid #BF9E87;
}

.ProdHr{
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 2px  solid #BF9E87;
  margin-left: 20em;
  margin-right: 20em;
}

/* all hail the CEO! */
.CEOJami{
  padding-bottom: 1em;
}

.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}